[submodule "botanss"]
	path = BotanSS
	url = https://github.com/tgckpg/BotanSS.git
[submodule "ext/modular"]
	path = ext/modular
	url = https://github.com/tgckpg/botansx-modular.git
[submodule "ext/utils"]
	path = ext/utils
	url = https://github.com/tgckpg/botansx-utils.git
